.header {
    @media screen and (max-width:1283px) {
        background-image: url(../../icon/stic3.webp), url(../../icon/stic1.webp), url(../../icon/stic2.webp);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, center top 50px, center top;
    
    }

    


    @media screen and (min-width:1284px) {
        background-image: url(../../icon/rightstic.webp), url(../../icon/upstic.webp), url(../../icon/rightupstic.webp), url(../../icon/leftstic.webp);
        background-position: right 260px bottom 60px, right 380px bottom 50px, right 250px bottom 120px, left 320px top 200px;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;

    }




    &__wraper {
        display: flex;
        align-items: center;

    }


    &__img {

        width: 69.0px;
        height: 59.9px;
    }

    &__menu {
        background-color: transparent;
        width: 33.0px;
        height: 26.0px;
        margin-left: auto;

        @media screen and (min-width: 1282px) {
            display: none;
        }
    }


    &__logo {
        display: flex;
        align-items: end;
        gap: 11px;

    }

    &__logo2 {
        width: 46.0px;
        height: 28.0px;

    }

    &__navigation {
        display: none;

        @media screen and (min-width: 1282px) {
            display: flex;

        }
    }

    &__list {
        display: flex;
        gap: 41px;
        align-items: center;
        margin-left: 205px;

    }


    &__buttons {

        display: flex;
        gap: 38px;
        margin-left: 205px;
    }

    &__button {
        font-weight: 700;
        font-size: 12px;
        color: #fff;

        border-radius: 40px;
        border: 2px solid #fff;
        background-color: transparent;
        width: 155px;
        height: 48px;

    }

    &__buttonn {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 12px;
        color: #343045;
        border-radius: 40px;
        width: 155px;
        height: 48px;
        background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);

    }



    &__item {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 12px;
        color: #fff;
    }


    &__elem:nth-child(1) {

        @media screen and (max-width: 1283px) {
            width: 100%;
        }

        display: flex;
        padding-top: 21px;
        padding-bottom: 18px;
        padding-left: 5px;
        padding-right: 5px;
        align-items: center;
        gap: 13px;

        .header__icon {
            width: 41px;
            height: 62px;

        }

        @media screen and (min-width:1284px) {
    padding: 0 0 0 0;
    gap: 15px;


    &::after {
                width: 1px;
                height: 116px;
                content: "";
                display: inline-block;
                background-color: white;
                margin-left: 42px;
                margin-right: 47px;
    
}


        .header__slide:last-child {
            transform: rotate(180deg);
        }

    }

}

    


    &__desk {
        color: #FFF;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media screen and (min-width:1284px) {

            white-space: nowrap;
font-weight: 400;
font-size: 14px;
color: #fff;
        }

    }




    &__elem:nth-child(2) {
        display: none;

        .header__icon {
            width: 59px;
            height: 59px;
margin-right: 29px;
        }

        @media screen and (min-width:1284px) {
            display: flex;
             align-items: center;
         
             &::after {
                width: 1px;
                height: 116px;
                content: "";
                display: inline-block;
                background-color: white;
                margin-right: 50px;
                margin-left: 66px;
             }
        }

    }


    &__elem:nth-child(3) {
        display: none;

        .header__icon {
            width: 65px;
            height: 55px;
            margin-right: 23px;

        }

        @media screen and (min-width:1284px) {
            display: flex;
             align-items: center;
            //  gap: 23px;
        }
    }


    &__title {
        text-align: center;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #FFF;
        width: 298px;
        margin-left: auto;
        margin-right: auto;



        @media screen and (min-width:1284px) {
            margin-left: 0px;
            margin-right: 0px;
            font-size: 40px;
            width: 456px;
            text-align: start;
        }
    }

    &__dive {
        text-align: center;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: linear-gradient(92deg, #C0B7E8 -1.02%, #8176AF 36.25%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #FFF;

        @media screen and (min-width:1284px) {

            font-size: 46px;

        }

    }


    &__virtual {
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: linear-gradient(269deg, #C0B7E8 -3.72%, #8176AF 82.17%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media screen and (min-width:1284px) {
            font-size: 46px;
        }
    }

    &__text {
        display: none;


        @media screen and (min-width:1284px) {
            display: block;
            font-weight: 400;
            font-size: 16px;
            color: #fff;
            width: 450px;
            margin-top: 36px;
            margin-bottom: 66px;
        }
    }

    &__btn {
        width: 292.0px;
        height: 52.0px;
        color: #343045;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 40px;
        background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 36px;



        @media screen and (min-width:1284px) {
            margin-left: 0px;
            margin-right: 0px;
            font-size: 12px;
            width: 214px;
            height: 48px;
        }
    }



    &__caption {
        display: none;


        @media screen and (min-width:1284px) {
    display: flex;
    margin-bottom: 10px;
font-weight: 700;
font-size: 24px;
color: #fff;
}
    }


    &__items {
        border-radius: 90px;
        background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
        box-shadow: 0 4px 4px 0 rgba(192, 183, 232, 0.01);
        width: 347.0px;
        height: 109.0px;
        margin-top: 53px;


        @media screen and (min-width:1284px) {
    display: flex;
    border-radius: 90px;
width: 100%;
height: 167px;
box-shadow: 0 4px 4px 0 rgba(192, 183, 232, 0.01);
background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211e2e 100%);
padding: 25px 80px 25px 39px;
}

    }

    &__photo {
        margin-top: 63px;
        margin-bottom: 40px;


        @media screen and (min-width:1282px) {
            width: 490px;
            height: 426px;


        }
    }

    &__slide {
        background-color: transparent;
        @media screen and (min-width:1284px) {
    display: none;
}
    }

    &__bigbox {


        @media screen and (min-width:1284px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 124px;
        }

    }


    &__box {
        @media screen and (min-width:1284px) {
            display: flex;
            flex-direction: column;
            align-items: left;
        }
    }


    &__photobox {
        @media screen and (min-width:1284px) {
            border-radius: 100px 100px 100px 240px;
            width: 524px;
            height: 455px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, 0.13);
            order: 1;
        }
    }


&__boxbtn {
    display: flex;
    
}



    &__arrow {

display: none;

@media screen and (min-width:1284px) {
     width: 100px;
        height: 100px;
        display: flex;
        align-self: center;
        justify-content: center;
        margin-top: 9px;
}

       
    }

}