.info {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
       height: 163px;
       width: 100%;
background-size: cover;
        background-image: url(../../icon/infophoto.webp);
        border-radius: 60px;
        box-shadow: 0 4px 4px 0 rgba(192, 183, 232, 0.01);
    }

    &__title {
font-weight: 700;
font-size: 16px;
text-align: center;
color: #fff;
margin-bottom: 14px;
    }

    &__subtitle {
font-weight: 300;
font-size: 24px;
color: #fff;
    }


    &__list {
        position: relative;
    }

    &__logo {
        width: 256px;
height: 256px;
margin-left: auto;
margin-right: auto;

    }



    &__slider {
        border-radius: 100%;
background-image: linear-gradient(268deg, #c0b7e8 0%, #8176af 100%) ;
display: flex;
justify-content: center;
align-items: center;
    }


    &__slider1 {
        border-radius: 100%;
background-image: linear-gradient(268deg, #c0b7e8 0%, #8176af 100%) ;
display: flex;
justify-content: center;
align-items: center;
    }


    &__sliderbox {
        border-radius: 100%;
background-color: rgba(14, 14, 14, 0.32) ;
display: flex;
justify-content: center;
align-items: center;
width: 62px;
height: 62px;
position: absolute;
right: 0px;
top: 95px;

    }

    &__slider1box {
        border-radius: 100%;
background-color: rgba(14, 14, 14, 0.32) ;
display: flex;
justify-content: center;
align-items: center;
width: 62px;
height: 62px;
position: absolute;
left: 0px;
top: 95px;
transform: rotate(180deg);
    }

    &__minititle {
font-weight: 700;
font-size: 26px;
text-align: center;
color: #fff;
    }


    &__minisubtitle {
font-weight: 300;
font-size: 26px;
text-align: center;
color: #fff;
margin-top: 16px;
    }

    &__number {
        border-radius: 100%;
        background-image: linear-gradient(251deg, #c0b7e8 0%, #8176af 100%);
        width: 159px;
        height: 159px;
        display: flex;
        justify-content: center;
        align-items: center;
        
font-weight: 700;
font-size: 64px;
color: #343045;
    }

    &__box {
        display: flex;
        justify-content: center;
        margin-top: 37px;
        border-radius: 100%;
        background-color: rgba(13, 13, 13, 0.32);
        width: 198px;
        height: 198px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }



    &__btnlist {
        position: relative;
        margin-top: 37px;
    }

    &__3d {
        font-family: var(--font-family);
        display: flex;
        margin-left: auto;
        margin-right: auto;
font-weight: 700;
font-size: 24px;
text-align: center;
color: #fff;
width: 186px;
    }


    &__slide {
        border-radius: 100%;
background-image: linear-gradient(268deg, #c0b7e8 0%, #8176af 100%) ;
display: flex;
justify-content: center;
align-items: center;
    }

    &__slide1 {
        border-radius: 100%;
background-image: linear-gradient(268deg, #c0b7e8 0%, #8176af 100%) ;
display: flex;
justify-content: center;
align-items: center;
    }


    &__bntbox {
         border-radius: 100%;
background-color: rgba(14, 14, 14, 0.32) ;
display: flex;
justify-content: center;
align-items: center;
width: 62px;
height: 62px;
position: absolute;
right: 0px;
bottom: 2px;
    }

    &__bntbox1 {
        border-radius: 100%;
background-color: rgba(14, 14, 14, 0.32) ;
display: flex;
justify-content: center;
align-items: center;
width: 62px;
height: 62px;
position: absolute;
left: 0px;
bottom: 2px;
transform: rotate(180deg);
    }

}