.info {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;


    @media screen and (min-width:1284px) {
        padding-top: 121px;
    }

    &__photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
        height: 163px;
        width: 100%;
        background-size: cover;
        background-image: url(../../icon/infophoto.webp);
        border-radius: 60px;
        box-shadow: 0 4px 4px 0 rgba(192, 183, 232, 0.01);



        @media screen and (min-width:1284px) {
            border-radius: 160px;
            width: 1278px;
            height: 303px;
            box-shadow: 0 4px 4px 0 rgba(192, 183, 232, 0.01);
            background: #211e2e;
            background-image: url(../../icon/infoPhoto1.webp);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: #fff;
        margin-bottom: 14px;



        @media screen and (min-width:1284px) {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 36px;
            color: #fff;
        }
    }

    &__subtitle {
        font-weight: 300;
        font-size: 24px;
        color: #fff;

        @media screen and (min-width:1284px) {
            font-family: var(--font-family);
            font-weight: 300;
            font-size: 36px;
            color: #fff;
        }
    }


    &__item {
        &:nth-child(1) {
            display: none;

            @media screen and (min-width:1284px) {
       display: block;
}
        }
         &:nth-child(2) {
            display: none;

            @media screen and (min-width:1284px) {
       display: block;
}
        }
         &:nth-child(3) {
            display: none;

            @media screen and (min-width:1284px) {
       display: block;
}
        }
         &:nth-child(4) {
            
        }
    }

    &__list {
        position: relative;

        @media screen and (min-width:1284px) {
            display: flex;
            gap: 60px;
            align-items: center;
            justify-content: center;
            margin-top: 35px;
        }
    }

    &__logo {
        width: 256px;
        height: 256px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width:1284px) {
            margin-left: 0px;
            margin-right: 0px;
        }
    }



    &__slider {
        border-radius: 100%;
        background-image: linear-gradient(268deg, #c0b7e8 0%, #8176af 100%);
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width:1284px) {
            display: none;
        }
    }


    &__slider1 {
        border-radius: 100%;
        background-image: linear-gradient(268deg, #c0b7e8 0%, #8176af 100%);
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width:1284px) {
            display: none;
        }
    }



        


    &__sliderbox {
        border-radius: 100%;
        background-color: rgba(14, 14, 14, 0.32);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 62px;
        height: 62px;
        position: absolute;
        right: 0px;
        top: 95px;

        @media screen and (min-width:1284px) {
            display: none;
        }
    }

    &__slider1box {
        border-radius: 100%;
        background-color: rgba(14, 14, 14, 0.32);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 62px;
        height: 62px;
        position: absolute;
        left: 0px;
        top: 95px;
        transform: rotate(180deg);

        @media screen and (min-width:1284px) {
            display: none;
        }
    }


    &__arrow {
        display: none;

        @media screen and (min-width:1284px) {
            border-radius: 100%;
            background-image: linear-gradient(268deg, #c0b7e8 0%, #8176af 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
        }
    }

    &__boxarrow {
        display: none;

        @media screen and (min-width:1284px) {
            position: absolute;
            content: "";
            bottom: -50px;
            left: 50%;
            border-radius: 100%;
            background-color: rgba(14, 14, 14, 0.32);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            position: absolute;
            transform: translateX(-50%) rotate(90deg);

        }
    }


}