h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background-color: #302C42;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

img {
  width: 100%;
  display: block;
  max-width: 100%;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

.container {
  outline: solid red;
  max-width: 1282px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 360px) {
  .container {
    width: 360px;
  }
}
@media screen and (min-width: 1282px) {
  .container {
    width: 12820px;
  }
}

@media screen and (max-width: 1283px) {
  .header {
    background-image: url(../../icon/stic3.webp), url(../../icon/stic1.webp), url(../../icon/stic2.webp);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, center top 50px, center top;
  }
}
@media screen and (min-width: 1284px) {
  .header {
    background-image: url(../../icon/rightstic.webp), url(../../icon/upstic.webp), url(../../icon/rightupstic.webp), url(../../icon/leftstic.webp);
    background-position: right 260px bottom 60px, right 380px bottom 50px, right 250px bottom 120px, left 320px top 200px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  }
}
.header__wraper {
  display: flex;
  align-items: center;
}
.header__img {
  width: 69px;
  height: 59.9px;
}
.header__menu {
  background-color: transparent;
  width: 33px;
  height: 26px;
  margin-left: auto;
}
@media screen and (min-width: 1282px) {
  .header__menu {
    display: none;
  }
}
.header__logo {
  display: flex;
  align-items: end;
  gap: 11px;
}
.header__logo2 {
  width: 46px;
  height: 28px;
}
.header__navigation {
  display: none;
}
@media screen and (min-width: 1282px) {
  .header__navigation {
    display: flex;
  }
}
.header__list {
  display: flex;
  gap: 41px;
  align-items: center;
  margin-left: 205px;
}
.header__buttons {
  display: flex;
  gap: 38px;
  margin-left: 205px;
}
.header__button {
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  border-radius: 40px;
  border: 2px solid #fff;
  background-color: transparent;
  width: 155px;
  height: 48px;
}
.header__buttonn {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  color: #343045;
  border-radius: 40px;
  width: 155px;
  height: 48px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
}
.header__item {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  color: #fff;
}
@media screen and (max-width: 1283px) {
  .header__elem:nth-child(1) {
    width: 100%;
  }
}
.header__elem:nth-child(1) {
  display: flex;
  padding-top: 21px;
  padding-bottom: 18px;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  gap: 13px;
}
.header__elem:nth-child(1) .header__icon {
  width: 41px;
  height: 62px;
}
@media screen and (min-width: 1284px) {
  .header__elem:nth-child(1) {
    padding: 0 0 0 0;
    gap: 15px;
  }
  .header__elem:nth-child(1)::after {
    width: 1px;
    height: 116px;
    content: "";
    display: inline-block;
    background-color: white;
    margin-left: 42px;
    margin-right: 47px;
  }
  .header__elem:nth-child(1) .header__slide:last-child {
    transform: rotate(180deg);
  }
}
.header__desk {
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 1284px) {
  .header__desk {
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
  }
}
.header__elem:nth-child(2) {
  display: none;
}
.header__elem:nth-child(2) .header__icon {
  width: 59px;
  height: 59px;
  margin-right: 29px;
}
@media screen and (min-width: 1284px) {
  .header__elem:nth-child(2) {
    display: flex;
    align-items: center;
  }
  .header__elem:nth-child(2)::after {
    width: 1px;
    height: 116px;
    content: "";
    display: inline-block;
    background-color: white;
    margin-right: 50px;
    margin-left: 66px;
  }
}
.header__elem:nth-child(3) {
  display: none;
}
.header__elem:nth-child(3) .header__icon {
  width: 65px;
  height: 55px;
  margin-right: 23px;
}
@media screen and (min-width: 1284px) {
  .header__elem:nth-child(3) {
    display: flex;
    align-items: center;
  }
}
.header__title {
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #FFF;
  width: 298px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1284px) {
  .header__title {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 40px;
    width: 456px;
    text-align: start;
  }
}
.header__dive {
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(92deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFF;
}
@media screen and (min-width: 1284px) {
  .header__dive {
    font-size: 46px;
  }
}
.header__virtual {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(269deg, #C0B7E8 -3.72%, #8176AF 82.17%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 1284px) {
  .header__virtual {
    font-size: 46px;
  }
}
.header__text {
  display: none;
}
@media screen and (min-width: 1284px) {
  .header__text {
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    width: 450px;
    margin-top: 36px;
    margin-bottom: 66px;
  }
}
.header__btn {
  width: 292px;
  height: 52px;
  color: #343045;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 40px;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
}
@media screen and (min-width: 1284px) {
  .header__btn {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 12px;
    width: 214px;
    height: 48px;
  }
}
.header__caption {
  display: none;
}
@media screen and (min-width: 1284px) {
  .header__caption {
    display: flex;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
  }
}
.header__items {
  border-radius: 90px;
  background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
  box-shadow: 0 4px 4px 0 rgba(192, 183, 232, 0.01);
  width: 347px;
  height: 109px;
  margin-top: 53px;
}
@media screen and (min-width: 1284px) {
  .header__items {
    display: flex;
    border-radius: 90px;
    width: 100%;
    height: 167px;
    box-shadow: 0 4px 4px 0 rgba(192, 183, 232, 0.01);
    background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211e2e 100%);
    padding: 25px 80px 25px 39px;
  }
}
.header__photo {
  margin-top: 63px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1282px) {
  .header__photo {
    width: 490px;
    height: 426px;
  }
}
.header__slide {
  background-color: transparent;
}
@media screen and (min-width: 1284px) {
  .header__slide {
    display: none;
  }
}
@media screen and (min-width: 1284px) {
  .header__bigbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 124px;
  }
}
@media screen and (min-width: 1284px) {
  .header__box {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
}
@media screen and (min-width: 1284px) {
  .header__photobox {
    border-radius: 100px 100px 100px 240px;
    width: 524px;
    height: 455px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.13);
    order: 1;
  }
}
.header__boxbtn {
  display: flex;
}
.header__arrow {
  display: none;
}
@media screen and (min-width: 1284px) {
  .header__arrow {
    width: 100px;
    height: 100px;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 9px;
  }
}

.hero {
  padding-top: 59px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1284px) {
  .hero {
    padding-top: 91px;
    padding-bottom: 111px;
  }
}
@media screen and (min-width: 1284px) {
  .hero__box {
    text-align: start;
  }
}
@media screen and (min-width: 1284px) {
  .hero__bigbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 69px;
  }
}
.hero__title {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}
@media screen and (min-width: 1284px) {
  .hero__title {
    font-size: 36px;
    text-align: start;
    margin-bottom: 0px;
  }
}
.hero__subtitle {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 36px;
}
@media screen and (min-width: 1284px) {
  .hero__subtitle {
    margin-bottom: 0px;
    width: 251px;
    font-size: 36px;
    color: #fff;
  }
}
.hero__subtitle2 {
  display: none;
}
@media screen and (min-width: 1284px) {
  .hero__subtitle2 {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    width: 650px;
  }
}
@media screen and (min-width: 1284px) {
  .hero__box2 {
    display: flex;
    align-items: center;
    gap: 30px;
    transform: translateY(-30px);
  }
}
.hero__arrow {
  display: none;
}
@media screen and (min-width: 1284px) {
  .hero__arrow {
    display: block;
    width: 228px;
    height: 100px;
  }
}
.hero__titlephoto {
  display: none;
}
@media screen and (min-width: 1284px) {
  .hero__titlephoto {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    display: block;
  }
}
.hero__subtitlephoto {
  display: none;
}
@media screen and (min-width: 1284px) {
  .hero__subtitlephoto {
    display: block;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 36px;
    color: rgba(255, 255, 255, 0.95);
  }
}
.hero__text {
  margin-top: 51px;
  margin-bottom: 54px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 317px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1284px) {
  .hero__text {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    width: 630px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.hero__button {
  color: #343045;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 40px;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  width: 276px;
  height: 56px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1284px) {
  .hero__button {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    color: #343045;
    padding: 16.5px, 40px, 16.5px, 40px;
    margin-left: 0;
    margin-right: 0;
  }
}
.hero__photo {
  display: block;
}
@media screen and (min-width: 1284px) {
  .hero__photo {
    display: none;
  }
}
.hero__photo1 {
  display: none;
}
@media screen and (min-width: 1284px) {
  .hero__photo1 {
    width: 524px;
    height: 557px;
    order: -1;
    display: block;
  }
}
@media screen and (min-width: 1284px) {
  .hero__wraper {
    display: flex;
    gap: 117px;
    align-items: center;
  }
}
.hero__div {
  gap: 5px;
  top: 0px;
  right: -650px;
}
.build {
  padding-top: 60px;
}
@media screen and (min-width: 1284px) {
  .build {
    padding-top: 111px;
  }
}
.build__title {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 1284px) {
  .build__title {
    text-align: start;
  }
}
.build__subtitle {
  font-weight: 300;
  font-size: 26px;
  text-align: center;
  color: #fff;
  margin-top: 16px;
  margin-bottom: 26px;
}
@media screen and (min-width: 1284px) {
  .build__subtitle {
    text-align: start;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.build__boxtext {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1284px) {
  .build__boxtext {
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.build__boxall {
  display: flex;
}
.build__arrow {
  display: none;
}
@media screen and (min-width: 1284px) {
  .build__arrow {
    display: block;
    width: 228px;
    height: 100px;
    align-items: center;
    transform: translateY(-30px);
    margin-left: 16px;
  }
}
.build__boxarrow {
  display: flex;
}
.build__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  padding: 27px 36px 35px 35px;
  background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
}
.build__item:nth-child(2) {
  display: none;
}
@media screen and (min-width: 1284px) {
  .build__item:nth-child(2) {
    display: block;
    align-items: center;
  }
}
.build__item:nth-child(3) {
  display: none;
}
@media screen and (min-width: 1284px) {
  .build__item:nth-child(3) {
    display: block;
  }
}
.build__item:nth-child(4) {
  display: none;
}
@media screen and (min-width: 1284px) {
  .build__item:nth-child(4) {
    display: block;
  }
}
@media screen and (min-width: 1284px) {
  .build__item {
    border-radius: 40px;
    padding: 23px 30px 40px 30px;
  }
}
.build__photo {
  width: 190px;
  height: 190px;
  margin-left: auto;
  margin-right: auto;
}
.build__box {
  width: 219px;
  height: 219px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(14, 14, 14, 0.32);
  border-radius: 50%;
}
@media screen and (min-width: 1284px) {
  .build__box {
    margin-left: auto;
    margin-right: auto;
  }
}
.build__subtext {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  margin-top: 34.61px;
  text-align: center;
}
.build__subtext::after {
  display: block;
  content: "";
  width: 154px;
  height: 1px;
  background-color: rgba(192, 183, 232, 0.33);
  margin-top: 17.5px;
  margin-left: auto;
  margin-right: auto;
}
.build__minitext {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  margin-top: 39px;
}
.build__button {
  margin-top: 35px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: #343045;
  border-radius: 40px;
  width: 250px;
  height: 48px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
}
.build__slide {
  border-radius: 100%;
  background-image: linear-gradient(268deg, #c0b7e8 0%, #8176af 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1284px) {
  .build__slide {
    display: none;
  }
}
.build__btnbox {
  border-radius: 100%;
  background-color: rgba(14, 14, 14, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  position: absolute;
  top: 40%;
  right: -31px;
}
@media screen and (min-width: 1284px) {
  .build__btnbox {
    display: none;
  }
}
.build__btnbox1 {
  border-radius: 100%;
  background-color: rgba(14, 14, 14, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  transform: rotate(180deg);
  position: absolute;
  top: 40%;
  left: -31px;
}
@media screen and (min-width: 1284px) {
  .build__btnbox1 {
    display: none;
  }
}
@media screen and (min-width: 1284px) {
  .build__list {
    display: flex;
    justify-content: center;
    gap: 11px;
  }
}
.build__text {
  display: none;
}
@media screen and (min-width: 1284px) {
  .build__text {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    width: 650px;
    margin-left: auto;
  }
}

.info {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1284px) {
  .info {
    padding-top: 121px;
  }
}
.info__photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  height: 163px;
  width: 100%;
  background-size: cover;
  background-image: url(../../icon/infophoto.webp);
  border-radius: 60px;
  box-shadow: 0 4px 4px 0 rgba(192, 183, 232, 0.01);
}
@media screen and (min-width: 1284px) {
  .info__photo {
    border-radius: 160px;
    width: 1278px;
    height: 303px;
    box-shadow: 0 4px 4px 0 rgba(192, 183, 232, 0.01);
    background: #211e2e;
    background-image: url(../../icon/infoPhoto1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}
.info__title {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-bottom: 14px;
}
@media screen and (min-width: 1284px) {
  .info__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    color: #fff;
  }
}
.info__subtitle {
  font-weight: 300;
  font-size: 24px;
  color: #fff;
}
@media screen and (min-width: 1284px) {
  .info__subtitle {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 36px;
    color: #fff;
  }
}
.info__item:nth-child(1) {
  display: none;
}
@media screen and (min-width: 1284px) {
  .info__item:nth-child(1) {
    display: block;
  }
}
.info__item:nth-child(2) {
  display: none;
}
@media screen and (min-width: 1284px) {
  .info__item:nth-child(2) {
    display: block;
  }
}
.info__item:nth-child(3) {
  display: none;
}
@media screen and (min-width: 1284px) {
  .info__item:nth-child(3) {
    display: block;
  }
}
.info__list {
  position: relative;
}
@media screen and (min-width: 1284px) {
  .info__list {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
  }
}
.info__logo {
  width: 256px;
  height: 256px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1284px) {
  .info__logo {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.info__slider {
  border-radius: 100%;
  background-image: linear-gradient(268deg, #c0b7e8 0%, #8176af 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1284px) {
  .info__slider {
    display: none;
  }
}
.info__slider1 {
  border-radius: 100%;
  background-image: linear-gradient(268deg, #c0b7e8 0%, #8176af 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1284px) {
  .info__slider1 {
    display: none;
  }
}
.info__sliderbox {
  border-radius: 100%;
  background-color: rgba(14, 14, 14, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  position: absolute;
  right: 0px;
  top: 95px;
}
@media screen and (min-width: 1284px) {
  .info__sliderbox {
    display: none;
  }
}
.info__slider1box {
  border-radius: 100%;
  background-color: rgba(14, 14, 14, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  position: absolute;
  left: 0px;
  top: 95px;
  transform: rotate(180deg);
}
@media screen and (min-width: 1284px) {
  .info__slider1box {
    display: none;
  }
}
.info__arrow {
  display: none;
}
@media screen and (min-width: 1284px) {
  .info__arrow {
    border-radius: 100%;
    background-image: linear-gradient(268deg, #c0b7e8 0%, #8176af 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
  }
}
.info__boxarrow {
  display: none;
}
@media screen and (min-width: 1284px) {
  .info__boxarrow {
    position: absolute;
    content: "";
    bottom: -50px;
    left: 50%;
    border-radius: 100%;
    background-color: rgba(14, 14, 14, 0.32);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translateX(-50%) rotate(90deg);
  }
}

.advent__minititle {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 1284px) {
  .advent__minititle {
    text-align: start;
  }
}
.advent__minisubtitle {
  font-weight: 300;
  font-size: 26px;
  text-align: center;
  color: #fff;
  margin-top: 16px;
}
@media screen and (min-width: 1284px) {
  .advent__minisubtitle {
    text-align: start;
  }
}
.advent__number {
  border-radius: 100%;
  background-image: linear-gradient(251deg, #c0b7e8 0%, #8176af 100%);
  width: 159px;
  height: 159px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 64px;
  color: #343045;
}
.advent__box {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
  border-radius: 100%;
  background-color: rgba(13, 13, 13, 0.32);
  width: 198px;
  height: 198px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1284px) {
  .advent__box {
    margin-bottom: 25px;
  }
}
.advent__btnlist {
  position: relative;
  margin-top: 37px;
}
@media screen and (min-width: 1284px) {
  .advent__btnlist {
    display: flex;
    gap: 115px;
    justify-content: space-around;
    margin-left: 15px;
  }
}
.advent__3d {
  font-family: var(--font-family);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #fff;
  width: 186px;
}
@media screen and (min-width: 1284px) {
  .advent__3d {
    margin-left: auto;
    margin-right: auto;
  }
  .advent__3d::before {
    background-image: url(../../icon/swipe.webp);
    background-repeat: no-repeat;
    content: "";
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    left: -50px;
    bottom: 25px;
  }
}
.advent__slide {
  border-radius: 100%;
  background-image: linear-gradient(268deg, #c0b7e8 0%, #8176af 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.advent__slide1 {
  border-radius: 100%;
  background-image: linear-gradient(268deg, #c0b7e8 0%, #8176af 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.advent__bntbox {
  border-radius: 100%;
  background-color: rgba(14, 14, 14, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  position: absolute;
  right: 0px;
  bottom: 2px;
}
@media screen and (min-width: 1284px) {
  .advent__bntbox {
    display: none;
  }
}
.advent__bntbox1 {
  border-radius: 100%;
  background-color: rgba(14, 14, 14, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  position: absolute;
  left: 0px;
  bottom: 2px;
  transform: rotate(180deg);
}
@media screen and (min-width: 1284px) {
  .advent__bntbox1 {
    display: none;
  }
}
@media screen and (min-width: 1284px) {
  .advent__btnitem {
    position: relative;
  }
}
.advent__btnitem:nth-child(2) {
  display: none;
}
@media screen and (min-width: 1284px) {
  .advent__btnitem:nth-child(2) {
    display: block;
  }
}
.advent__btnitem:nth-child(3) {
  display: none;
}
@media screen and (min-width: 1284px) {
  .advent__btnitem:nth-child(3) {
    display: block;
  }
}
.advent__btnitem:nth-child(4) {
  display: none;
}
@media screen and (min-width: 1284px) {
  .advent__btnitem:nth-child(4) {
    display: block;
  }
}
.advent__boxtext {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1284px) {
  .advent__boxtext {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.advent__boxall {
  display: flex;
}
@media screen and (min-width: 1284px) {
  .advent__boxall {
    width: 1264px;
    justify-content: space-between;
  }
}
.advent__arrow {
  display: none;
}
@media screen and (min-width: 1284px) {
  .advent__arrow {
    display: block;
    width: 228px;
    height: 100px;
    align-items: center;
    transform: translateY(-30px);
    margin-left: 16px;
  }
}
.advent__boxarrow {
  display: flex;
}
.advent__text {
  display: block;
}
@media screen and (min-width: 1284px) {
  .advent__text {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
  }
}
.advent__textik {
  display: none;
}
@media screen and (min-width: 1284px) {
  .advent__textik {
    display: block;
    width: 650px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.advent__btnitem:nth-child(1) .advent__3d::before {
  display: none;
}
@media screen and (min-width: 1284px) {
  .advent__btnitem:nth-child(1) .advent__3d::before {
    background-image: url(../../icon/swipe.webp);
    background-repeat: no-repeat;
    content: "";
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    left: -50px;
    bottom: 25px;
  }
}

.advent__btnitem:nth-child(2) .advent__3d::before {
  background-image: url(../../icon/swipe.webp);
  background-repeat: no-repeat;
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  left: -25px;
  bottom: 25px;
}

.advent__btnitem:nth-child(3) .advent__3d::before {
  background-image: url(../../icon/swipe.webp);
  background-repeat: no-repeat;
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  left: -45px;
  bottom: 25px;
}

.advent__btnitem:nth-child(4) .advent__3d::before {
  background-image: url(../../icon/swipe.webp);
  background-repeat: no-repeat;
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  left: -10px;
  bottom: 25px;
}

.evo {
  margin-top: 81px;
}
@media screen and (min-width: 1284px) {
  .evo {
    margin-top: 112px;
  }
}
.evo .container {
  border-radius: 40px;
  padding-top: 45px;
  padding-bottom: 65px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
}
@media screen and (min-width: 1284px) {
  .evo .container {
    padding-top: 90px;
    padding-bottom: 84px;
  }
}
.evo__title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 1284px) {
  .evo__title {
    font-weight: 700;
    font-size: 36px;
  }
}
.evo__title::after {
  margin-top: 21px;
  margin-bottom: 19px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: "";
  width: 116px;
  height: 1px;
  background-color: rgba(192, 183, 232, 0.33);
}
@media screen and (min-width: 1284px) {
  .evo__title::after {
    width: 414px;
  }
}
.evo__subtitle {
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 232px;
  height: 64px;
  margin-bottom: 36px;
}
@media screen and (min-width: 1284px) {
  .evo__subtitle {
    font-weight: 300;
    font-size: 36px;
    width: 100%;
  }
}
.evo__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
@media screen and (min-width: 1284px) {
  .evo__form {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 39px;
    -moz-column-gap: 11px;
         column-gap: 11px;
  }
}
.evo__info {
  border: 2px solid #fff;
  border-radius: 40px;
  width: 300px;
  height: 53px;
  background-color: transparent;
}
@media screen and (min-width: 1284px) {
  .evo__info {
    width: 524px;
    height: 72px;
  }
  .evo__info:nth-child(5) {
    width: 1058px;
  }
}
.evo__info::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  padding-left: 29px;
}
.evo__info::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  padding-left: 29px;
}
.evo__comment {
  border: 2px solid #fff;
  border-radius: 40px;
  width: 300px;
  height: 219px;
  background-color: transparent;
}
@media screen and (min-width: 1284px) {
  .evo__comment {
    width: 1058px;
    height: 210px;
    display: block;
    margin-bottom: 31px;
  }
}
.evo__comment::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  padding-left: 29px;
  padding-top: 18px;
}
.evo__comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  padding-left: 29px;
  padding-top: 18px;
}
.evo__button {
  border-radius: 40px;
  padding: 15px 85px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  font-weight: 700;
  font-size: 14px;
  color: #343045;
}
@media screen and (min-width: 1284px) {
  .evo__button {
    padding: 16px 52px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    color: #343045;
  }
}

.footer {
  padding-top: 81px;
}
.footer__logo {
  width: 185px;
  height: 187px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;
}
.footer__title {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 29px;
}
.footer__iconlist {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 47px;
}
.footer__itemicon {
  width: 32px;
  height: 32px;
}
.footer__button {
  font-weight: 700;
  font-size: 14px;
  color: #343045;
  border-radius: 40px;
  padding: 19px 68px 19px 72px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer__box::after {
  content: "";
  display: block;
  margin-top: 61px;
  width: 289px;
  height: 1px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  margin-left: auto;
  margin-right: auto;
}
.footer__prava {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-top: 38px;
}
.footer__bottomtext {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.13em;
  text-align: center;
  color: #fff;
}
.footer__list1 {
  display: none;
}
@media screen and (min-width: 1284px) {
  .footer__list1 {
    display: block;
  }
}
.footer__list2 {
  display: none;
}
@media screen and (min-width: 1284px) {
  .footer__list2 {
    display: block;
  }
}
.footer__link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.footer__boxall {
  display: flex;
}/*# sourceMappingURL=main.css.map */