.container {
  outline: solid red;
  max-width: 1282px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;


  @media screen and (min-width: 360px) {
    width: 360px;
  }


  @media screen and (min-width: 1282px) {
    width: 12820px;
  }
}